<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="system.data.localdb" type="System.Data.LocalDBConfigurationSection,System.Data,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <system.data.localdb>
    <localdbinstances>
      <add name="Test" version="11.0"/>
    </localdbinstances>
  </system.data.localdb>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
