<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <add name="Npgsql Data Provider" invariant="Npgsql" description="Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="SqlServer" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=TESTDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SqlServerMaster" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=master;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SqlServerCe" connectionString="Data Source=TESTDB.sdf" providerName="System.Data.SqlServerCe.4.0" />
    <add name="SqlServerCeMaster" connectionString="Data Source=TESTDB.sdf" providerName="System.Data.SqlServerCe.4.0" />
    <add name="Oracle" connectionString="Data Source=localhost:1521/XE;User ID=TESTDB;Password=pass" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="OracleMaster" connectionString="Data Source=localhost:1521/XE;DBA Privilege=SYSDBA;User Id=sys;Password=sys" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="SqLite" connectionString="Data Source=:memory:" providerName="System.Data.SqLite" />
    <add name="SqLiteMaster" connectionString="Data Source=:memory:" providerName="System.Data.SqLite" />
    <add name="MySql" connectionString="Server=localhost;Database=TESTDB;Uid=root;Pwd=sys;" providerName="MySql.Data.MySqlClient" />
    <add name="MySqlMaster" connectionString="Server=localhost;Uid=root;Pwd=sys;" providerName="MySql.Data.MySqlClient" />
    <add name="PostgreSql" connectionString="Server=localhost;Port=5432;Database=testdb;User ID=postgres;Password=sys" providerName="Npgsql" />
    <add name="PostgreSqlMaster" connectionString="Server=localhost;Port=5432;User ID=postgres;Password=sys" providerName="Npgsql" />
  </connectionStrings>
  <appSettings>
    <add key="xunit.diagnosticmessages" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
  </runtime>
</configuration>
